.navv{
    display: flex;
    justify-content: right;
    padding: 20px;
}

/* Realiza Animacion al Redireccionar entre la misma Pagina */
html{
    scroll-behavior: smooth;
}

.linkss{
    margin: 10px;
    text-decoration: none;
    padding: 7px;
    background-color: black;
    color:white;
    padding: 10px;
    border-radius: 20px;
}

.primero:hover{
    color:red;
    transition: all .3s ease-in-out;
    transform: scale(1.2);
    background: black;
}

.segundo:hover{
    color:red;
    transition: all .3s ease-in-out;
    transform: scale(1.2);
    background: black;
}

.tercero:hover{
    color:red;
    transition: all .3s ease-in-out;
    transform: scale(1.2);
    background: black;
}

/* Comportamiento al Quitar el cursor sobre el Contenido */
.primero:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}

.segundo:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}

.tercero:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}

.Principal{
    margin-top: 150px;
    display: grid;
    justify-content: center;
}

.navLateral{
    background:rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 1500px;
    top: 0;
    left: 0;
    position: absolute;
    border-style: ridge;
    border-color: #12182c;
    background-attachment: fixed;
}

.about{
    margin-top: 300px;
    margin-bottom: 150px;
    display: grid;
    justify-content: center;
}

.listas{
    display: flex;
    justify-content: center;
}

.volver{
    color:white;
    background: #12182c;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10%;
}

.volver:hover{
    color:red;
    transition: all .3s ease-in-out;
    transform: scale(1.2);
    background: black;
}

.volver:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);

}
/*  background-attachment: fixed;  Deja fijado el Fondo del Body para que no se mueva con el Scroll
 */
body{
    background-attachment: fixed;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),url(fondo2.jpg);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
/* list-style: none;   Quita los Puntos que tienen los Li de las Listas */
.nolist{
    list-style: none;
}

.imgperfil{
    top: 20%;
    border-radius: 50%;
    margin-left: 60%;
    position: absolute;
    width: 300px;
}
/*  transition: all .3s ease-in-out;     Realiza Transicion Agrandando la Imagen una vez el mouse este arriba
    transform: scale(1.1);               Aumenta el Tamaño Segun los Numeros dentro del Scale
    filter: saturate(180%);              Añade Saturacion a los Colores de la Imagen Asignada
 */
.imgperfil:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    filter: saturate(180%);
}

.imgperfil:not(hover){
        transition: all .5s ease-in-out;
        transform: scale(1.0);
    
}

.imgon{
    margin-top: 20px;
    margin-left: 9%;
    margin-bottom: 50px;
}

.imgon:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.7);
    margin-left: 10%;
}

.imgon:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}

.tit{
    margin-left: 23%;
}

.tittle{
    font-size: 35px;
    color: rgba(0, 183, 255, 0.774);
}

/* Quita el Nav lateral al llegar a los 1300px */
@media (max-width: 1300px) {
    .navLateral{
        display: none;
    }
}
/* Realiza Ajustes al Llegar a los pixeles de un Telefono */
@media (max-width: 600px) {
    .navLateral{
        
        display: flex;
        position: absolute;
        margin-top: 600px;
        height: 320px;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0%;
        margin-right: 5%;
    }

    .imgperfil{
        top: 20%;
        right: 0;
        width: 180px;
    }

    .imgon{
        margin-top: 10px;
        width: 40px;
        display: flex;
        position: relative;
        justify-content: space-around;
    }

    /*  background-attachment: Especifica que la imagen de fondo se movera junto al Scroll 
        background-image: Asigna Imagen de fondo y la Oscurese con el linear-gradient y Asigna Nueva imagen a traves de Media Query
    */
    body{
        background-attachment: scroll;
        background-size: auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),url(fondov2.jpg);
    }

    /* justify-content: space-around :Le dice al espacio que debe situar los objetos dentro del espacio disponible */
    .navv{
        height: 70px;
        padding: 5px;
        justify-content: space-around;
    }   
}