.navv{
    display: flex;
    justify-content: right;
    padding: 20px;
}

html{
    scroll-behavior: smooth;
}

.linkss{
    margin: 10px;
    text-decoration: none;
    padding: 7px;
    background-color: black;
    color:white;
    padding: 10px;
    border-radius: 20px;
}

.primero:hover{
    color:red;
    transition: all .3s ease-in-out;
    transform: scale(1.2);
    background: black;
}
.segundo:hover{
    color:red;
    transition: all .3s ease-in-out;
    transform: scale(1.2);
    background: black;
}
.tercero:hover{
    color:red;
    transition: all .3s ease-in-out;
    transform: scale(1.2);
    background: black;
}

.primero:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}
.segundo:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}
.tercero:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}
.Principal{
    margin-top: 150px;
    display: grid;
    justify-content: center;
    
}

.navLateral{
    background:rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 1500px;
    top: 0;
    left: 0;
    position: absolute;
    border-style: ridge;
    border-color: #12182c;
    background-attachment: fixed;
}

.about{
    margin-top: 300px;
    margin-bottom: 150px;
    display: grid;
    justify-content: center;
}

.listas{
    display: flex;
    justify-content: center;
}
.volver{
    color:white;
    background: #12182c;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 40%;
}
body{
    background-attachment: fixed;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),url(fondo2.jpg);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.nolist{
    list-style: none;
}

.imgperfil{
    top: 20%;
    border-radius: 50%;
    margin-left: 60%;
    position: absolute;
    width: 300px;
}

.imgperfil:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    filter: saturate(180%);
}
.imgperfil:not(hover){
        transition: all .5s ease-in-out;
        transform: scale(1.0);
    
}

.imgon{
    margin-top: 20px;
    margin-left: 9%;
    margin-bottom: 50px;
}

.imgon:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.7);
    margin-left: 10%;
}

.imgon:not(hover){
    transition: all .5s ease-in-out;
    transform: scale(1.0);
}

.tit{
    margin-left: 23%;
}

.tittle{
    font-size: 35px;
    color: rgba(0, 183, 255, 0.774);
}


@media (max-width: 600px) {

    .navLateral{
        
        display: flex;
        position: absolute;
        margin-top: 600px;
        height: 320px;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0%;
        margin-right: 5%;
    }

    .imgperfil{
        top: 20%;
        right: 0;
        width: 180px;
    }

    .imgon{
        margin-top: 10px;
        width: 40px;
        display: flex;
        position: relative;
        justify-content: space-around;
    }

    body{
        background-attachment: scroll;
        background-size: auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),url(fondov2.jpg);
    }

    .navv{
        height: 70px;
        padding: 5px;
        justify-content: space-around;
    }   
}